.home {
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  padding: 10px;
  
  width: 100%;
 
  margin: 0 auto; 
}
.home {
  display: flex;
}


